# Tell the world that I use a Mac.
.DS_Store
# Do not commit local node modules.
node_modules
# JsTestDriver polution.  Do not commit.
JsTestDriver-1.3.5.jar
coverage-1.3.5.jar
coverage-1.3.5.serve-patch.jar
jsTestDriver.conf
test/drift/QUnitAdapter.js
test/drift/equiv.js
test/drift/qunit-1.10.0.js
